/*para el menu principal*/
.logo{
    margin: 50px;
    padding: 50px;
    height: 100%;
    width: auto;
    font-family: sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    width: auto;
    gap: 20px; /* Espacio entre los botones */
    padding: 20px; /* Espacio alrededor del grid */
    height: 100vh;
    box-sizing: border-box;
}
.boton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    text-decoration: none;
    color: white;
    background-color: #00ff2f;
    border: 2px solid #ab6f00;
    border-radius: 15px;
    padding: 20px;
    transition: background-color 0.3s;
}
.boton:hover {
    background-color: #3dda5a;
}

/*estilizado de hiperlinks*/
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: #ab6f00;
}

/*para el fondo de la pagina web*/
body {
    background-image: url('resources/fondos/fondo.webp'); /* Cambia esto a la ruta de tu imagen */
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-attachment: fixed;      /* Fijo al hacer scroll */

    overflow-wrap: break-word; /* Fuerza cortes de línea si el texto es largo */
    word-break: break-word;

}

/*A FIXEAR*/
html{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;   /* Centrado horizontal */
}

/*ENEMIGOS*/
.enemigos{
    display: flex;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px; /* bordes no puntiagudos */
    gap: 10px;
    margin: 10px;
}

.enemigo_div_30{
    margin: 10px;
    padding: 10px;
    width: 30%;
    height: 100%;
    font-family: sans-serif;
}

.enemigo_div_70{
    margin: 10px;
    padding: 10px;
    width: 70%;
    height: 100%;
    font-family: sans-serif;
}
/*BIOMAS*/


/*DIMENSIONES*/



/*OBJETOS*/
